<h1>Display your Pirate here</h1>
<p><%= @pirate.name %></p>
<p><%= @pirate.weight %></p>
<p><%= @pirate.height %></p>

<% @ships.each do |s| %>
  <p><%= s.name %></p>
  <p><%= s.type %></p>
  <p><%= s.booty %></p>
<% end %>
